# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\-=work=-\aws\ImageDrive-Upload\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
